@import '~react-rangeslider/lib/index.css';

$aqua: #99f0dd;
$blue: #3329f9;

body {
  font-family: "sofia-pro";
}

.photoSlide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  &.photoSlide-entering {
    .photoSlide-media {
      opacity: 0;
    }
  }

  &.photoSlide-entered {
    .photoSlide-media {
      opacity: 1;
    }
  }

  .photoSlide-media {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0;
    transition: all 0.5s;

    &video {
      object-fit: contain;
      width: 100%;
      height: 100%;
      object-position: center center;
    }
  }
}

#indexPage {
  text-align: center;

  ul {
    list-style: none;
    padding: 0;
  }
}

.slideshowHolder {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height:100%;
}

.slideshowSettings {
  position: absolute;
  z-index: 2;
  bottom: 0;
  right: 0;
  width: 50%;
  background-color: white;
  padding: 1rem 1.5rem 2rem;
  opacity: 0;
  transition: all 0.5s;
  max-width: 24rem;

  &:hover {
    opacity: 1;
  }

  h2 {
    margin-top: 0;
  }

  input[type=color] {
    margin-left: 0.5rem;
  }

  .rangeslider__fill {
    background-color: $blue;
  }
}

.slideshowSettings-close {
  position: absolute;
  top: 0;
  right: 0;
}

.loaderHolder {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

.loader.slideshowLoader {
  position: relative;
  top: 42%;
  transform: translateY(-50%);
}
